
# --------------------- 
# API
# --------------------- 
API_PORT=3001

# Supabase Cloud
SUPABASE_URL=https://project.supabase.co
SUPABASE_SECRET_KEY=secretkey

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# AI API
AI_API_KEY=

# --------------------- 
# WEB
# --------------------- 
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
